<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.statecodelab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StateCodelab">
        <activity
            android:name=".start.state.todo.TodoActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StateCodelab.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".start.state.examples.HelloCodelabActivity"
            android:exported="true" />
        <activity
            android:name=".start.state.examples.HelloCodeLabActivityWithViewModel"
            android:exported="true" />
        <activity
            android:name=".finish.state.todo.TodoActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StateCodelab.NoActionBar">

        </activity>
    </application>

</manifest>